
@import "tailwindcss";
@reference "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors (creates utilities like bg-dark-3, text-dark-3, stroke-dark-3, border-dark-3, etc.) */
  --color-dark-1: #181a21;
  --color-dark-2: #232832;
  --color-dark-3: #353b49;
  --color-dark-red-hover: #421818;

  /* Box shadows (creates utilities like shadow-image, shadow-image-dm, etc.) */
  --shadow-image: 0px 0px 24px -4px rgba(0, 0, 0, 0.3);
  --shadow-image-dm: 0px 0px 24px -4px rgba(0, 0, 0, 0.75);
  --shadow-image-light: 0px 0px 16px -4px rgba(0, 0, 0, 0.125);
  --shadow-image-light-dm: 0px 0px 16px -4px rgba(0, 0, 0, 0.5);
  --shadow-button: 0px 0px 0px 2px inset;
  --shadow-button-dm: 0px 0px 0px 1.5px inset;
  --shadow-video-dm: 0px 0px 0px 1px inset;

  /* Background images (creates utilities like bg-dots-light, bg-gradient-bottom, etc.) */
  --background-image-dots-light: radial-gradient(lightgray 1.25px, transparent 0);
  --background-image-dots-dark: radial-gradient(#3f3f46 1.25px, transparent 0);
  --background-image-gradient-bottom: linear-gradient(
    180deg,
    rgba(243, 244, 246, 0) 0%,
    rgba(243, 244, 246, 1) 100%
  );
  --background-image-gradient-top: linear-gradient(
    0deg,
    rgba(243, 244, 246, 0) 0%,
    rgba(243, 244, 246, 1) 100%
  );
  --background-image-gradient-dm-bottom: linear-gradient(
    180deg,
    rgba(35, 40, 50, 0) 0%,
    rgba(35, 40, 50, 1) 100%
  );
  --background-image-gradient-dm-top: linear-gradient(
    0deg,
    rgba(35, 40, 50, 0) 0%,
    rgba(35, 40, 50, 1) 100%
  );
}

img {
    max-width: none;
}

@font-face {
    font-family: 'HankenGrotesk';
    src: url('HankenGrotesk.ttf') format('truetype');
   }

   @font-face {
    font-family: 'Modelo';
    src: url('Modelo/Modelo-Regular.otf') format('truetype');
   }
   
   .mono {
    font-family: Roboto Mono;
   }

   .globe {
    
   }
   
   body {
       font-family: 'Switzer', sans-serif;
       /* font-family: 'Satoshi', sans-serif; */
   }

   .circle {
        height: 300px;
        margin: auto;
        display: block;
   }


  


  path.grey {
    fill: none;
    @apply stroke-gray-200;
  }
  
  @variant dark {
    path.grey {
      @apply stroke-dark-3;
    }
  }
  
  path.data {
    /* stroke-dasharray: calc(15 * 3.142 * 1.85) calc(100 * 3.142 * 1.85); */
    stroke-dashoffset: 0;
    fill:none;
    /* adjust last number for variance */
  }

  path.data {
    fill: none;
    @apply stroke-red-700;
  }
  
  @variant dark {
    path.data {
      @apply stroke-red-400;
    }
  }

   .tag {
    padding: 4px 12px;
    white-space: nowrap;
   }

   .header-text {
    font-family: Modelo;
   }

   .single {
    position: absolute;
    bottom: -5%;
    width: 75%;
    height: auto;
   }

   .double {
    position: absolute;
    bottom: 10%;
    height: 65%;
    margin-left: 25%;
    width: auto;
   }

   .double-bg{
    position: absolute;
    top: 10%;
    height: 65%;
    margin-right: 25%;
    width: auto;
   }

   .noShadow {
    position: absolute;
    box-shadow: none;
    width: 33%;
    height: auto;
   }


   .slider-image {
    position: absolute;
    height: auto;
    width: 90%;
   }
   #clip {
    position: absolute;
    clip-path: polygon(0 0, 66% 0, 66% 100%, 0 100%);
    /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
  }
   
   .projectCard {
       width: calc(50% - 30px);
       /* border: 1px solid transparent; */
   }
   
   .projectCard:hover {

   }

   
   
   .projects-container {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       gap: 60px;
   }

   .aspect-ratio {
    aspect-ratio: 4 / 2.75;
   }

   .aspect-ratio-short {
    aspect-ratio: 4 / 2.25;
   }

   .aspect-ratio-tall {
    aspect-ratio: 4 / 3.5;
   }

   .slider-button {
    position: absolute;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    border-radius: 50%;
    left: calc(66% - 16px);
    pointer-events: none;
   }

   .slider-button {
    /* ... */
    @apply bg-white;
    @apply border-gray-300 border-[3px];
  }
  
  @variant dark {
    .slider-button {
      @apply bg-dark-3;
      @apply border-zinc-600;
    }
  }
   
   
   .margins {
       padding: 80px 60px 80px 104px;
   }

   .margins-x {
    padding: 0px 60px 0px 104px;
   }

   .slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    margin: 0;
    transition: all .2s;
   }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 4px;
      height: 1000px;
      /* background: rgb(210, 210, 210); */
      cursor: pointer;
  }

  .slider::-webkit-slider-thumb:hover {
    cursor: col-resize;
  }

  .slider::-webkit-slider-thumb {
    @apply bg-gray-300;
  }
  
  @variant dark {
    .slider::-webkit-slider-thumb {
      @apply bg-zinc-600;
    }
  }
   
   .dot-bg{
       /* background-image: radial-gradient(lightgray 1.25px, transparent 0); */
       background-size: 20px 20px;
       background-position: -20px -20px;
   }
   
#globe-paths {
    stroke-width: 3px;
    stroke: lightgray;
    stroke: rgb(185 28 28);
    stroke-dasharray: 200 500;
    stroke-dashoffset: 0;
    animation: dash 20s linear infinite;
    animation-direction: reverse;
}



.link {
  border-bottom: 1.5px solid;
  @apply border-gray-200;
  transition: border-color 0.3s;
}
.link:hover {
  @apply border-red-700;
  cursor: pointer;
}

@variant dark {
  .link {
    @apply border-dark-3;
  }
  .link:hover {
    @apply border-red-400;
  }
}

.nav {
    transition: opacity 300ms;
}

   .intro-text {
       margin: 24px 0px;
       max-width: 800px;
   }

   .line1 {
    stroke-dasharray: calc(2*100vw + 2*100vh);
    stroke-dashoffset: 0;
    animation: dash 2s linear infinite;
  }


  .line2 {
    stroke-dasharray: calc(2*100vw + 2*100vh);
    stroke-dashoffset: calc(2*100vw + 2*100vh);
    animation: dash2 2s linear infinite;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: calc(2*100vw + 2*100vh);
    }
    to {
      stroke-dashoffset: calc((2*100vw + 2*100vh)/10);
    }
  }

  @keyframes dash2 {
    from {
      stroke-dashoffset: calc((2*100vw + 2*100vh) - ((2*100vw + 2*100vh)/10));
    }
    to {
      stroke-dashoffset: 0;
    }
  }


   @media (max-width:1024px) {
   
    .intro-section{
        font-size: 48px;
    }

    .margins-x {
        padding: 0px 40px 0px 40px;
       }

    .margins {
        padding: 80px 40px 80px 40px;
    }
   }


   @media (max-width:768px){
    .projectCard {
        width: 100%;
    }
   }


   @media (max-width:640px) {

    .intro-section{
        font-size: 36px;
    }


    .margins-x {
        padding: 0px 16px 0px 16px;
       }

       

    .margins {
        padding: 80px 16px 80px 16px;
    }



    .projectCard {
      width: 100%;
 
    }
    
    @variant dark {
      .projectCard {
 
      }
    }

    .projects-container {
        gap: 32px;
    }
   }